html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.35em;
  color: #000000;
  font-weight: medium;
  font-family: Roboto, ​Arial, ​sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
  margin-bottom: 80px;
  border: 1px solid white;
}
.main-navigation {
  float: left;
  width: 740px;
}

.basket {
  float: right;
  width: 100px;
}
.slider{
  margin-top: 45px;
}
.slider-1 {
  float: left;
  width: 390px;
}
.slider-1-img{
  float: right;
  width: 400px;
}
.index-content{
    width: 880px;
    margin-bottom:80px;
    min-height: 300px;
}
.services {
  float: left;
  width: 240px;
  margin-right: 80px;
}
.services:last-child {
  margin-right: 0;
}
.orders{
  float: left;
  width: 620px;
}
.work {
  float: right;
  width: 250px;
}
.logo-friends{
  margin-bottom: 0px;
  min-height: 170px;
  width: 880px;
}
.map {
  margin-top: 85px;
  margin-left: auto;
  margin-right: auto;

  width: 1200px;
  height: 416px;
  background-image: url("../img/map1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px 416px;
  border: 1px solid white;

}
.contact {
  box-sizing: border-box;
  margin-top: 85px;
  margin-left: 160px;
  width: 240px;
  height: 250px;
  background-color: white;
  padding: 25px 20px;
}

.main-footer {
  margin-top: 65px;
}
.footer-social {
  float: left;
  width: 300px;
  margin-right: 10px;
}

.footer-slogan {
  float: left;
  width: 570px;
}
.slogan-shop {
  margin-top: 45px;
  width: 880px;
  height: 100px;
  display: block;
}
.colum-right {
  float: right;
  width: 570px;
}
.colum-left {
  float: left;
  width: 300px;
}
.item {
  display: inline-block;
  width: 240px;
  min-height: 270px;
}
.item:nth-child(2n) {
  margin-left: 80px;
}
.triangle-down,
.triangle-up {
  width: 0;
  height: 0;
  border: 30px solid;
  border-color: #c1c1c1 transparent;
  border-width: 10px 6px 0;
}
.triangle-up {
  border-width: 0 6px 10px;
}
.triangle-up.active,
.triangle-down.active{
  border-color: #00ca74 transparent;

}


h1 {
  font-size: 40px;
  line-height: 50px;
}

h2 {
  font-size: 18px;
  line-height: 30px;
}
